#hero {
    height: 100vh;
    width: 100vw;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-box {
    height: 60%;
    width: 60%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#hero-box h1 {
    color: #f2f2f2;
    font-size: 6rem;
    
}

#hero-box #typewriter {
    font-size: 4rem;
}
#hero-box #typewriter #colored1 {
    font-size: 4rem;
    color: rgb(0, 85, 255);
    color: #0081f9;
}
#hero-box #typewriter #colored2 {
    font-size: 4rem;
    color: rgb(43, 0, 108);
    color: #2470a0;
}
#hero-box #typewriter #colored3 {
    font-size: 4rem;
    color: rgb(13, 218, 156);
    color: #0092ca;
}
#hero-box h1 #H {
    color: red;
    background: linear-gradient(45deg, #70a9e5, #2509c5);
        /* background: linear-gradient(to right, blue, red); */
        /* background: -webkit-linear-gradient(#2007c5, #d10505); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorChange 5s linear 0s infinite forwards;
}

/* @keyframes colorChange {
    0% {
        background: linear-gradient(to top right, blue 50%, green 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25% {
        background: linear-gradient(to top right, blue 80%, green 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: linear-gradient(to top right, red 40%, blue 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75% {
        background: linear-gradient(to top right, red 80%, blue 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: linear-gradient(to top right, green 50%, blue 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
} */

#scrollBtn {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    border: none;
}
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}
