#skills {
    height: 100vh;
    padding-top: 0.1rem;
}
#skills-heading-container {
    margin-top: 4rem;
    text-align: center;
}

#skills-heading-container h3 {
    color: green;

    /* background-color: #fff; */
    font-size: 1.5rem;
}
#skills-heading-container h1 {
    background: linear-gradient(45deg, rgb(0, 162, 255), rgb(4, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
}

#skills-container svg {
    margin-left: 2rem;
    position: absolute;
}

.skills-row {
    height: 3rem;
    width: 100vw;
    position: relative;
}
#skills-row1 {
    display: flex;
    justify-content: space-around;
    top: 6.5rem;
}
#skills-row2 {
    display: flex;
    justify-content: space-around;
    top: 10rem;
    height: 17rem;
}
#skills-row3 {
    display: flex;
    justify-content: space-around;
    top: 12.5rem;
    height: 6rem;
}
.nodes {
    border: 1px solid white;
    color: white;
    position: relative;
    width: 10rem;
    height: 3rem;
    background-color: black;
    text-align: center;
    border-radius: 0.5rem;
}
.nodes h3 {
    margin-top: 0.7rem;
}


.endNodes {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: relative;
    background-color: black;
    transition: hover 0.5s ease-in;
}
.endNodes img {
    height: 6rem;
    width: 6rem;
}
#dev {
    border: 1px solid red;
    left: 6.9rem;
    animation: red 1s ease-in-out 0s infinite alternate;
}
#dev:hover {
    box-shadow: 1px 1px 10px 1px red, -1px -1px 10px 1px red;
}
#programming {
    border: 1px solid blue;
    left: 1.2rem;
    animation: blue 1s ease-in-out 0s infinite alternate;
}
#programming:hover {
    box-shadow: 1px 1px 10px 1px blue, -1px -1px 10px 1px blue;
}
#BackEnd {
    top: 1.4rem;
    left: 2.7rem;
    border: 1px solid orange;
    animation: orange 1s ease-in-out 0s infinite alternate;
}
#BackEnd:hover {
    box-shadow: 1px 1px 10px 1px orange, -1px -1px 10px 1px orange;
}
#FrontEnd {
    top: 7.7rem;
    left: -1.7rem;
    border: 1px solid yellow;
    animation: yellow 1s ease-in-out 0s infinite alternate;
}
#FrontEnd:hover {
    box-shadow: 1px 1px 10px 1px yellow, -1px -1px 10px 1px yellow;
}
#Other {
    border: 1px solid green;
    top: 13.2rem;
    left: -5rem;
    animation: green 1s ease-in-out 0s infinite alternate;
}
#Other:hover {
    box-shadow: 1px 1px 10px 1px green, -1px -1px 10px 1px green;
}
#Node {
    top: 8rem;
    left: 10.6rem;
}
#Node img:hover  {
    transform: scale(1.2);
}
#Express {
    top: 8rem;
    left: -4.5rem;
}
#Express img:hover  {
    transform: scale(1.2);
}
#Cpp {
    left: 1.2rem;
}
#Cpp img:hover  {
    transform: scale(1.2);
}
#Java {
    left: -6.9rem;
}
#Java img:hover  {
    transform: scale(1.2);
}
#HTML {
    left: 7.2rem;
}
#HTML img:hover  {
    transform: scale(1.2);
}
#CSS {
    left: 5.2rem;
}
#CSS img:hover  {
    transform: scale(1.2);
}
#JS {
    left: 2.9rem;
}
#JS img:hover  {
    transform: scale(1.2);
}
#React {
    left: 0.2rem;
}
#React img:hover  {
    transform: scale(1.2);
}
#Tailwind {
    left: -1.8rem;
}
#Tailwind img:hover  {
    transform: scale(1.2);
}
#GitHub {
    left: -3rem;
}
#GitHub img:hover  {
    transform: scale(1.2);
}
#Figma {
    left: -7.1rem;
}
#Figma img:hover {
    transform: scale(1.2);
}
#TBD {
    left: -10.7rem;
}
#DevLine {
    stroke: red;
}
#OtherLine {
    stroke: green;
}
#ProgrammingLine {
    stroke: blue;
}
#BackendLine{
    stroke: orange;
}
#FrontendLine{
    stroke: yellow;
}
#NodeLine{
    stroke: #4F9E3F;
}
#HTMLLine{
    stroke: #E34F26;
}
#CSSLine{
    stroke: #264DE4;
}
#JSLine{
    stroke: #D4B830;
}
#ReactLine{
    stroke: #01D3FA;
}
#TailwindLine {
    stroke: #43A8B2;
}
#GithubLine {
    stroke: #FFFFFF;
}
#FigmaLine {
    stroke: #F24D1C;
}
#TBDLine {
    /* stroke: ; */
}
#CppLine {
    stroke: #5D8DBD;
}
#JavaLine {
    stroke: #E66E00;
    
}
#skills-container svg .Lines {
    animation: blinker 1s ease-in-out 0s infinite alternate;
}
@keyframes blinker {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes red {
    0% {
        border: 1px solid rgba(255, 0, 0, 0.4);
    }
    100% {
        border: 1px solid rgba(255, 0, 0, 1);
    }
}
@keyframes green {
    0% {
        border: 1px solid rgba(0, 255, 0, 0.4);
    }
    100% {
        border: 1px solid rgba(0, 255, 0, 1);
    }
}
@keyframes blue {
    0% {
        border: 1px solid rgba(0, 0, 255, 0.4);
    }
    100% {
        border: 1px solid rgba(0, 0, 255, 1);
    }
}
@keyframes yellow {
    0% {
        border: 1px solid rgba(255, 255, 0, 0.4);
    }
    100% {
        border: 1px solid rgba(255, 255, 0, 1);
    }
}
@keyframes orange {
    0% {
        border: 1px solid rgba(255, 165, 0, 0.4);
    }
    100% {
        border: 1px solid rgba(255, 165, 0, 1);
    }
}





#skills #skills-heading-container .animate1 {
    animation: zoomIn 1s ease-in 0s;

}
#skills #skills-heading-container .animate3 {
    animation: fromTop 1s ease-in 0s;
}


@keyframes fromTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    } 
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    } 
    
}