* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

:root {
    width: 100vw;
    scrollbar: none;
    overflow-x: hidden;
    
}

canvas {
    /* height: 20rem; */
    /* width: 20rem; */
    position: fixed;
    /* background-color: #030C21; */
    background-color: black;
    z-index: -1;
    /* animation: colorChange 1s linear 0s infinite alternate ; */
}

@keyframes colorChange {
    0% {
        background-color: black;
    }
    100% {
        background-color: rgb(7, 7, 7);
    }
}